In [1]:
import pandas as pd

In [2]:
file = pd.read_csv('datos_energia.csv')
file.dtypes

time                                   object
AT_load_actual_entsoe_transparency    float64
forecast                              float64
Upper bound                           float64
Lower bound                           float64
dtype: object

In [3]:
file.head()

,time,AT_load_actual_entsoe_transparency,forecast,Upper bound,Lower bound
0,2019-07-25 17:00:00,8172.0,NaN,NaN,NaN
1,2019-07-25 18:00:00,8107.0,NaN,NaN,NaN
2,2019-07-25 19:00:00,7781.0,NaN,NaN,NaN
3,2019-07-25 20:00:00,7436.0,NaN,NaN,NaN
4,2019-07-25 21:00:00,7219.0,NaN,NaN,NaN

In [4]:
file["time"] = pd.to_datetime(file["time"])
file = file.set_index(file["time"])
file.dtypes

time                                  datetime64[ns]
AT_load_actual_entsoe_transparency           float64
forecast                                     float64
Upper bound                                  float64
Lower bound                                  float64
dtype: object

In [5]:
file.head()

,time,AT_load_actual_entsoe_transparency,forecast,Upper bound,Lower bound
time,,,,,
2019-07-25 17:00:00,2019-07-25 17:00:00,8172.0,NaN,NaN,NaN
2019-07-25 18:00:00,2019-07-25 18:00:00,8107.0,NaN,NaN,NaN
2019-07-25 19:00:00,2019-07-25 19:00:00,7781.0,NaN,NaN,NaN
2019-07-25 20:00:00,2019-07-25 20:00:00,7436.0,NaN,NaN,NaN
2019-07-25 21:00:00,2019-07-25 21:00:00,7219.0,NaN,NaN,NaN

In [6]:
file.index.date

array([datetime.date(2019, 7, 25), datetime.date(2019, 7, 25),
       datetime.date(2019, 7, 25), ..., datetime.date(2020, 10, 5),
       datetime.date(2020, 10, 6), datetime.date(2020, 10, 6)],
      dtype=object)